.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100vh;
  width: 350px;
  background-color: #cccc;
  padding-top: 10%;
}

.Sidelist {
  width: 100%;
  padding: 0;
}

.siderow {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

#icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

#title{
  flex: 70%;
}

main {
  width: 100%;
  padding: 20px;
}

.Container {
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
}

.active {
  background: #FF725E;
  color: #fff
}

.hoe {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  line-height: 3;
}

button#primary-btn {
  background: #FF725E;
  border: transparent;
  line-height: 2.5;
}

button#logout-primary {
  background: #FF725E;
  border: none;
}

button#logout-secondary {
  background: transparent;
  border: solid 1px #FF725E;
  color: black;
}
